In [1]:
import pandas as pd

In [18]:
# Define the path to your directory containing the CSV files
claims_Y1 = pd.read_csv("../data/curated/Claims_Y1.csv")
claims_Y2 = pd.read_csv("../data/curated/Claims_Y2.csv")
drugCount_Y1 = pd.read_csv("../data/curated/DrugCount_Y1.csv")
drugCount_Y2 = pd.read_csv("../data/curated/DrugCount_Y2.csv")
labCount_Y1 = pd.read_csv("../data/curated/LabCount_Y1.csv")
labCount_Y2 = pd.read_csv("../data/curated/LabCount_Y2.csv")
members_df = pd.read_csv(f"../data/curated/Members.csv")

file_path = "../data/raw/HHP_release3/"

days_in_hospital_y2_df = pd.read_csv(f"{file_path}DaysInHospital_Y2.csv")
days_in_hospital_y3_df = pd.read_csv(f"{file_path}DaysInHospital_Y3.csv")

In [4]:
claims_Y1

,MemberID,ProviderID,Vendor,PCP,Specialty,PlaceSvc,DSFS,PrimaryConditionGroup,ProcedureGroup,SupLOS,PayDelay,LengthOfStay,CharlsonIndex
0,210,8448244.0,122401.0,37508.0,Internal,Office,1.0,GYNEC1,MED,0.0,90.000000,0.250000,0.000000
1,3197,1367098.0,122401.0,47016.0,Pediatrics,Office,12.0,RESPR4,EM,0.2,98.400000,0.000000,0.000000
2,3889,7053364.0,5166.0,37796.0,Emergency,Urgent Care,1.0,MSC2a3,EM,0.0,70.692308,0.230769,0.615385
3,4187,8883983.0,887998.0,45901.0,Internal,Office,1.0,ARTHSPIN,EM,0.0,85.000000,0.000000,0.000000
4,9063,5244762.0,791272.0,78718.0,Internal,Office,1.0,ARTHSPIN,EM,0.0,60.250000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76033,99995554,8511459.0,64764.0,1303.0,Internal,Office,7.0,SKNAUT,MED,0.0,111.400000,0.000000,0.000000
76034,99996214,4410262.0,628773.0,13742.0,General Practice,Office,1.0,ARTHSPIN,EM,0.0,19.000000,0.000000,0.000000
76035,99997485,9149087.0,140343.0,27585.0,General Practice,Office,1.0,ODaBNCA,EM,0.0,130.000000,0.000000,0.000000
76036,99997895,321261.0,152610.0,91687.0,Laboratory,Independent Lab,9.0,ARTHSPIN,EM,0.0,38.500000,0.000000,0.000000
76037,99998627,1076052.0,251809.0,10822.0,Internal,Outpatient Hospital,1.0,ARTHSPIN,EM,0.0,52.600000,0.200000,0.800000

In [ ]:
members_df[""]

In [9]:
members_df["AgeAtFirstClaim"].unique()

array(['70-79', '40-49', '0-9', '30-39', '50-59', '60-69', '10-19', '80+',
       '20-29', nan], dtype=object)

In [17]:
members_df[members_df["Sex"].isna()]

        MemberID AgeAtFirstClaim  Sex
8       75299016           40-49  NaN
17      15767885             80+  NaN
27      91978538           30-39  NaN
31      43222750           70-79  NaN
39      25486452           10-19  NaN
...          ...             ...  ...
112968  80309011           10-19  NaN
112975  26088713           70-79  NaN
112987  53268184           40-49  NaN
112988  40764727           50-59  NaN
112989  22235783           10-19  NaN

[17552 rows x 3 columns]

In [11]:
members_df[members_df["AgeAtFirstClaim"].isna()]

        MemberID AgeAtFirstClaim  Sex
34      25185926             NaN    F
76      16866607             NaN    M
77      17793062             NaN  NaN
92       7860263             NaN    F
181     76847373             NaN  NaN
...          ...             ...  ...
112909  65934547             NaN  NaN
112941  91063762             NaN    M
112950  19708209             NaN    M
112980  56345370             NaN    F
112991  29024181             NaN    F

[5753 rows x 3 columns]

In [16]:
claims_Y2[claims_Y2["MemberID"] == 16866607]

,MemberID,ProviderID,Vendor,PCP,Specialty,PlaceSvc,DSFS,PrimaryConditionGroup,ProcedureGroup,SupLOS,PayDelay,LengthOfStay,CharlsonIndex
12148,16866607,4548344.0,663688.0,51763.0,General Practice,Office,1.0,NEUMENT,EM,0.0,35.0,0.0,0.0

In [29]:
claims_Y1_merge = pd.merge(claims_Y1, members_df, on = "MemberID", how='left')
claims_Y1_merge = pd.merge(claims_Y1_merge, drugCount_Y1, on = "MemberID", how='left')
claims_Y1_merge = pd.merge(claims_Y1_merge, labCount_Y1, on = "MemberID", how='left')
claims_Y1_merge = pd.merge(claims_Y1_merge, days_in_hospital_y2_df, on = "MemberID", how='left')

In [30]:
claims_Y1.shape

(76038, 13)

In [31]:
claims_Y1_merge.shape

(76038, 21)

In [34]:
claims_Y1_merge.to_csv("../data/curated/combined_Y1.csv", index=False)

In [35]:
claims_Y2_merge = pd.merge(claims_Y2, members_df, on = "MemberID", how='left')
claims_Y2_merge = pd.merge(claims_Y2_merge, drugCount_Y2, on = "MemberID", how='left')
claims_Y2_merge = pd.merge(claims_Y2_merge, labCount_Y2, on = "MemberID", how='left')
claims_Y2_merge = pd.merge(claims_Y2_merge, days_in_hospital_y3_df, on = "MemberID", how='left')

In [36]:
claims_Y2_merge.to_csv("../data/curated/combined_Y2.csv", index=False)